<div style="border: 1px solid #EEEEEE;">
  <div class="page-header" style='background-color:#F9F9F9;margin-top:-10px;'>
    <h3><%= @article.title %>
      <small>Subtext for header</small>
    </h3>
  </div>
  <div>
    <%= @article.content %>
  </div>
</div>    
