<div style='border-radius: 5px 5px 0px 0px; border: 1px solid; border-bottom: none; background-color: #999999; height: 30px;text-align:center; padding: 0px; '>
  <h6>最新动态
</div>
<div class="hero-unit" style='border-radius: 0px 0px 5px 5px; '>
  <h1>Heading</h1>
  <p>Tagline</p>
  <p>
    <a class="btn btn-primary btn-large">
      Learn more
    </a>
  </p>
</div>
 



      